.flash {
    margin-top: 40px;
    font-family: helvetica;
    color: white;
}
.catalog_info {
    width: 80%;
    margin: 100px auto 20px auto;
    border: 2px solid rgb(248, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: azure;   
}

th {
    color: azure;
    font-size: 24px;
    /* font-weight: bold; */
    padding: 10px;
    border-bottom: 1px solid rgb(148, 112, 112);
    border-left: 1px solid rgb(148, 112, 112);
    background-color: royalblue;
}

#categories {
    width: 20%;
}
.category_item a{
    width:80%;
    display: block;
    color: darkblue;
    text-decoration: none;
    padding: 12px 16px;
    /* overflow: hidden; */
}

.category_item a:hover{
    background-color: darkblue;
    color: white;
    border: 1px dashed white;
    border-radius: 5px;
}


.catalog_item a{
    display: block;
    width: 95%;
    color: orangered;
    text-decoration: none;
    /* overflow: hidden; */
    padding: 12px 16px;
}

.catalog_item #category_added{
    color: darkblue;
}

.catalog_item a:hover {
    background-color:maroon;
    color: white;
    border: 1px dashed white;
    border-radius: 5px;
}
