{% include "header.html" %}
			<h1>Catalog Item Details</h1>
			<a>Name:</a>
			<input type ="text" maxlength="100" name="title" value="{{item.title }}">
			<br>
			<a>Description:</a>
			<input type ="text" maxlength="100" name="description" value="{{item.description }}">
			<br>
			<label for="category">Category:</label>
			{% for category in categories %}
			<div class="radio">
				<label>
					<input type="radio" name="category" value="{{category.name}}" {% if category.id == item.category_id %} checked {%endif%}>"{{category.name}}"
				</label>
			</div>
			{% endfor %}

			<a href="{{url_for('editCatalogItem', item_id = item.id)}}">
				<button class="btn btn-default" id="new-catalog-item">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Edit Catalog Item
				</button>
			</a>
			<a href="{{url_for('showCategories')}}">
				<button class="btn btn-default" id="new-catalog-item">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Go Back
				</button>
			</a>
	</form>