{% include "header.html" %}
	<!-- <div class = 'flash'>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li> <strong> {{ message }} </strong> </li>
			{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
	</div> -->
	<div class="all_data">
	<table class = "catalog_info">
		<div id = "top_bar_info">
			<th id="categories">Category </th>
			<th id="latest_items">Catalog items</th>
		</div>
		<tr class="info">
			<td class="category_item">
				<a>{{category.name}}</a>
			</td>
			<td class="catalog_item">
			{% for item in items %}
				<a href = "{{url_for('showCatalogItemDetails', item_id = item.id)}}">{{item.title}}</a>
			{% endfor %}
			</td>
		</tr>
	</table>
</div>
	<div class="buttons">
		{%if 'username' in session %}
		<a href="{{url_for('newCatalogItem')}}">
			<button >New Catalog Item</button>
		</a>
		<a href="{{url_for('newCategory')}}">
			<button >New Category</button>
		</a>
		<a href="{{url_for('editCategory', category_id = category.id )}}">
			<button >Edit Category</button>
		</a>
		<a href="{{url_for('deleteCategory', category_id = category.id)}}">
			<button >Delete Category</button>
			</a>
		{% endif %}
		<a href="{{url_for('showCategories')}}">
			<button>Cancel</button>
		</a>
	</div>
