{% include "header.html" %}
<form action="{{ url_for('editCategory',category_id = category.id)}}" method = "post">
		<div class="all_data">
			<table class = "item_details">
				<tr>
				<th class = "title" colspan="2">Edit Category</th>
				</tr>
				<tr>
				<td class="item_label">Name:</td>
				<td><textarea name="name" rows="4" cols="60" placeholder="Category Name" required>{{category.name}}</textarea></td>
				</tr>
			</table>
			<div class="buttons">
				<input type="submit" value = 'Save'>
					<a href = "{{url_for('showCategories')}}">
					<span>
				<input type="button" value="Cancel"></span></a>
			</div>
		</div>
	</form>